<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
  </head>
  <body>
      <div class="content">
        <form class="login-form" action="/user/login" method="post">
          <label>Username:</label><br>
          <input type="text" name="username"><br><br>
          <label>Password:</label><br>
          <input type="password" name="password"><br><br>
          <p><button type="submit">Login</button></p>
        </form>
      </div>
  </body>
</html>
