@import 'main.css';
.body{
min-height: 60vh;
}
img{
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 2px;
}

@media screen and (max-width:600px){
  .body{
    min-height: 40vh;
  }
  img{
    width: 100%;
  }
}
