<form class="create">
  <input placeholder="Write here the title of your blogpost" class="title" type="text"><br>
  <textarea placeholder="Here you can write your new post" class="post-content"></textarea><br>

  <div class="create-side-bar">
    <button class="create-btn" type="submit">Create</button>
    <p>Add tag:</p>

    <div class="tag">
      <input type="text" class="tag-input">
      <a href="#">+</a>
      <div class="results"></div>
    </div>

    <div class="show-tags"> </div>
  </div>
</form>


<!--
<div class="show">
  <h1 class="show-title"></h1>
  <div class="show-markdown">
  </div>
</div>

<script src="https://cdn.rawgit.com/showdownjs/showdown/1.9.1/dist/showdown.min.js"></script> -->
<script type="module" src="/js/postAction.js"></script>
